<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"> 
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{img/Santos-480.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>ESCUDOS | SANTOS FC</title>
    <base href="/" />
</head>
<body>
    
    <header>
        <aside>
            <img th:src="@{img/santos-header.png}" alt="Logo do Santos Futebol Clube">
            <h1>Santos Futebol Clube</h1>
        </aside>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li> 
                <li><a th:href="@{/listagemTitulo}">Títulos</a></li>
                <li><a th:href="@{/escudos}">Escudos</a></li>
                <li>Campeão Serie B</li>
            </ul>
        </nav>
    </header>

    <main class="serieB">

    </main>

    <footer>
        <p>&copy; Criado por: Reginaldo Luiz Formoso Junior | Aluno de Sistemas para Internet - FATEC-RL</p>
    </footer>

</body>
</html>