<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"> 
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{img/Santos-480.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Elencos | SANTOS FC</title>
    <base href="/" />
</head>
<body>
    
    <header>
        <aside>
            <img th:src="@{img/santos-header.png}" alt="Logo do Santos Futebol Clube">
            <h1>Santos Futebol Clube - Página em Construção</h1>
        </aside>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li> 
                <li><a th:href="@{/listagemTitulo}">Títulos</a></li>
                <li>Elenco</li>
                <li><a th:href="@{/escudos}">Escudos</a></li>
                <li><a th:href="@{/campeaoSerieB}">Campeão Serie B</a></li>
            </ul>
        </nav>
    </header>

    <main class="elenco">

        <h2>NOSSO TIME</h2>

        <table>
            <caption>Goleiros</caption>
            <thead>
                <tr>
                    <th>Diógenes</th>
                    <th>Gabriel Brazão</th>
                    <th>João Pedro</th>
                    <th>Rodrigo Falcão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img th:src="@{img/01-Goleiro-Diogenes.png}" alt="Goleiro Diógenes"></td>
                    <td><img th:src="@{img/02-Goleiro-Gabriel-Brazao.png}" alt="Goleiro Gabriel Brazão"></td>
                    <td><img th:src="@{img/03-Goleiro-Joao-Pedro.png}" alt="Goleiro João Pedro"></td>
                    <td><img th:src="@{img/04-Goleiro-Rodrigo-Falcao.png}" alt="Goleiro Rodrigo Falcão"></td>
                </tr>
            </tbody>
        </table>
    </main>


    <footer>
        <p>&copy; Criado por: Reginaldo Luiz Formoso Junior | Aluno de Sistemas para Internet - FATEC-RL. 2026</p>
    </footer>


</body>
</html>

